@model IEnumerable<WebEminari.Data.Models.UserBooking>
@{
}
@if (Model.Any() == true)
{
    foreach (var user in Model)
    {
        <p>@user.UserFirstName @user.UserLastName</p>
    }
}
else
{
    <p>No peoples</p>
}

