<center>
    <button><a asp-controller="WebEminars" asp-action="IndexWebEminarsWithVideos">IndexWebEminarsWithVideos</a></button>
    <br />
    <br />
    <button><a asp-controller="WebEminars" asp-action="IndexWebEminars">IndexWebEminars</a></button>
</center>