@using WebEminari.Common

@model WebEminari.Web.ViewModels.Home.IndexViewModel

@{
    this.ViewData["Name"] = "Home Page";
}

<div class="text-center row">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <div class="col-md-8">
        <div class="row">
            @foreach (var webEminar in this.Model.RandomWebEminars)
            {
                <div class="card col-md-6" style="width: 18rem;">
                    <img class="card-img-top" src="~/Images/@webEminar.ImageName" width="100" height="300">
                    <div class="card-body">
                        <h5 class="card-title">@webEminar.Title</h5>
                        <p class="card-text">@webEminar.CategoryName</p>
                        <a asp-controller="WebEminars" asp-action="ById" asp-route-id="@webEminar.Id" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            }
        </div>
    </div>
    </div>