<center>
    <button><a asp-area="Administration" asp-controller="WebEminars" asp-action="IndexWebEminarsWithVideos">IndexWebEminarsWithVideos</a></button>
    <br />
    <br />
    <button><a asp-area="Administration" asp-controller="WebEminars" asp-action="IndexWebEminars">IndexWebEminars</a></button>
    <br />
    <br />
    <button><a asp-area="Administration" asp-controller="Categories" asp-action="Index">Categories</a></button>
</center>