@model WebEminari.Data.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Edit</h6>
        </div>

        <div class="card-body">

            <h4>Категория</h4>
            <hr />
            <div class="container">
                <div class="row">
                    <div class="offset-md-3 col-md-6 text-center">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DeletedOn" class="control-label"></label>
                                <input asp-for="DeletedOn" class="form-control" />
                                <span asp-validation-for="DeletedOn" class="text-danger"></span>
                            </div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="CreatedOn" class="control-label"></label>
                                <input asp-for="CreatedOn" class="form-control" />
                                <span asp-validation-for="CreatedOn" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ModifiedOn" class="control-label"></label>
                                <input asp-for="ModifiedOn" class="form-control" />
                                <span asp-validation-for="ModifiedOn" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                                </label>
                            </div>
                            <input type="submit" value="Save" class="btn btn-sm btn-outline-success float-right" />
                            <a asp-action="Index" class="btn btn-sm btn-outline-dark float-left"><i class="fas fa-arrow-left"></i> Back to all</a>
                        </form>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
                        @section Scripts {
                            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                        }
